[user]
  name = Mike Smith
  email = 10135646+mikesmithgh@users.noreply.github.com
  ; email = 15022104-mikesmithgl@users.noreply.gitlab.com

[push]
  default = current

[core]
  excludesfile = /Users/mike/.gitignore
  autocrlf = input
  editor = nvim
	; pager = /opt/homebrew/bin/less
	pager = delta

[interactive]
    diffFilter = delta --color-only

[diff]
  tool = nvimdiff

[merge]
  conflictstyle = diff3
  tool = nvimdiff

[difftool]
  prompt = false
  trustExitCode = true

[diff]
    colorMoved = default
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[mergetool]
  prompt = false
  trustExitCode = true
	keepBackup = false

[log]
  date = format:%m/%d/%Y %I:%M %p

[color "status"]
  untracked = magenta

[pretty]
  prettyoneline = %C(blue bold)%h %C(yellow nobold)%ad %C(green nobold)%an %C(reset)%s
  prettylog = %C(cyan nobold)commit %C(blue bold)%H%n%C(cyan nobold)parent %C(blue bold)%P%n%C(brightyellow bold)Author: %C(green nobold)%an %Creset%C(brightblack)<%ae>%Creset%n%C(brightyellow bold)Date:   %C(yellow nobold)%ad%n%n%C(reset)%w(50,4,4)%s%n%n%w(0,4,4)%b

[delta]
	pager = /opt/homebrew/bin/less -r

  navigate = true
  side-by-side = true

  commit-style = raw

  line-numbers-zero-style = "#7c6f64"
  line-numbers-left-style = "#504945"
  line-numbers-right-style = "#504945"

  plus-style = reverse "#414b32"
  plus-emph-style = bold reverse "#414b32"
  line-numbers-plus-style = "#414b32"

  minus-style = reverse "#692e26"
  minus-emph-style = bold "#070707" "#692e26"
  line-numbers-minus-style  = "#692e26"

  blame-palette = "#070707" "#1a1a1a" "#282828"

  line-numbers-left-format  = {nm:^4}▏
  line-numbers-right-format = {np:^4}▏
  syntax-theme = gruvsquirrel
  file-style = omit
  hunk-header-style = omit
  tabs = 4
  hyperlinks = true

[alias]
  bashver = ! bash --version
  alias = "! git config --get-regexp ^alias\\. | sed -e s_^alias\\._\"$(printf '%b' '\\033[38;5;173m')\"_ -e s_\\ _\"$(printf '%b%s%b' '\\033[0m' '☠' '\\033[38;5;150m')\"_ | grep -v alias | column -n -t -s '☠'"
  br = branch -vv
  cbr = symbolic-ref --short HEAD
  ci = ! GIT_EDITOR='nvim -c \":Git! log -10 | normal! K$\"' git commit -v
  cl = ! git --no-pager log
  co = checkout
  deleteprev = branch -d @{-1}
  d = diff
  ; dt = "! args=$@; shift $#; nvim -c \"Gcd\" -c \"Git difftool -y $args\""
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
  f = ! bash -ic 'ms_git_f'
  graph = log --graph --format=prettyoneline
  l = ! git --no-pager lv --max-count=10
  ll = ! git --no-pager llv --max-count=2
  llv = log --format=prettylog
  lv = log --format=prettyoneline
  ml = ! git l --format=prettyoneline --author=\"$(git config --get user.name)\"
  mll = ! git ll --author=\"$(git config --get user.name)\"
  mllv = ! git llv --author=\"$(git config --get user.name)\"
  mlv = ! git lv --format=prettyoneline --author=\"$(git config --get user.name)\"
  mlmessage = ! git l --format=\"%s\" --author=\"$(git config --get user.name)\"
  mt = mergetool
  p = pull
  rb  = ! git for-each-ref --format=\"%(color:blue bold)%(objectname:short)  %(color:yellow nobold)%(authordate:format:%m/%d/%Y %I:%M %p)  %(align:28,left)%(color:green)%(authorname)%(end) %(color:reset)%(refname:strip=3)\" --sort=authordate refs/remotes
  mrb = ! git for-each-ref --color=always --format=\"%(color:blue bold)%(objectname:short)  %(color:yellow nobold)%(authordate:format:%m/%d/%Y %I:%M %p)  %(color:green)%(authorname)  %(color:reset)%(refname:strip=3)\" --sort=authordate refs/remotes | grep \"$(git config --get user.name)\"
  st = status -s
  stashall = ! git add . && git stash
  wip = ! git add . && git commit -a -n -m \"work in progress\"
  cinoreply = ! git commit --author='Mike Smith <10135646+mjsmith1028@users.noreply.github.com>'
  cisign = ! git commit --author='Mike Smith <10135646+mikesmithgh@users.noreply.github.com>' -e -m 'Signed-off-by: Mike Smith <10135646+mikesmithgh@users.noreply.github.com>'
  cipr = ! git commit -e -m \"$(git mlmessage -100 | egrep -m 1 -o '\\[.*[0-9]+]' | tr [:lower:] [:upper:] | xargs -I {} printf '%s:' '' {})\"
  cibr = "! args=$@; shift $#; ms_git_cibr $args"
  root = rev-parse --show-toplevel

[fetch]
  prune = true
  parallel = 5
  output = compact

[submodule]
  fetchJobs = 5

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
# enforce ssh
; [url "git@github.com:"]
;   insteadOf = https://github.com/
; [url "ssh://git@github.com/"]
;   insteadOf = https://github.com/

[url "ssh://git@gitlab.com"]
  insteadOf = https://gitlab.com/

[includeIf "gitdir:~/repos/accumulus*/"]
  path = ~/.config/accumulus/.gitconfig
